
<div class="input-group my-3" role="group" aria-label="Basic example">
    <span class="input-group-text" id="addon-wrapping">From: </span>
    <input type="date" class="btn btn-outline-primary" min="{{ date_min }}" name="date_from">

    <span class="input-group-text" id="addon-wrapping">To: </span>
    <input type="date" class="btn btn-outline-primary" name="date_to">

    <span class="input-group-text" id="addon-wrapping"></span>

    <input type="hidden" name="item" value="{{ item.room }}">
    <button type="submit" class="btn btn-success">Borrow</button>
</div>