
<div class="input-group my-3" role="group" aria-label="Basic example">
    <label class="input-group-text" id="addon-wrapping">From: </label>
    <input id="date_from" type="date" class="btn btn-outline-primary" min="{{ date_min }}" name="date_from">

    <label class="input-group-text" id="addon-wrapping">To: </label>
    <input id="date_to" type="date" class="btn btn-outline-primary" name="date_to">

    <span class="input-group-text" id="addon-wrapping"></span>
{%block item %}

{%endblock item %}

    <button type="submit" class="btn btn-success">Borrow</button>
</div>