
<footer class="footer spad ">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="footer__about">
                    <ul>
                        <li>Address: Haim Nachman Bialik St 56, Be'er Sheva</li>
                        <li>Phone: 1-800-207-777</li>
                        <li>Email: SCE@SCE.co.il</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                    </ul>
                    <ul>
                        <li><a href="">Contact</a></li>
                        <li><a href="{% url 'policy' %}">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
