{% load static %}
<div class="header__top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="header__top__left">
                    <ul>
                        <li>Sami Shamoon College of Engineering</li>
                        <li>VCStorage</li>
                        <li> ~ Tali / Leon / Dori / Dani ~</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="header__top__right">
                    <div class="header__top__right__social">

                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.instagram.com/sce.vc/"><i class="fa fa-instagram"></i></a>
                    </div>
                    <div class="header__top__right__language">
                        <img src="{% static '/media/language.png' %}" alt="">
                        <div>English</div>
                        <span class="arrow_carrot-down"></span>
                        <ul>
                            <li><a href="#">עברית</a></li>
                            <li><a href="#">English</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

            <a href="{% url 'main' %}" class="navbar-brand mx-4">
                <img src="{% static '/media/SCE.png' %}" alt="">
            </a>
            <div class="collapse navbar-collapse mx-3" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link tali" href="{% url 'main' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tali" href="{% url 'profile'  %}">My items</a>
                    </li>
                    <li class="nav-item">

                        <div class="dropdown">
                            <button class="nav-link tali dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Pages
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item"  href="{% url 'categories' %}">Products</a></li>
                                <li><a class="dropdown-item"  href="{% url 'studio' %}">Studios</a></li>
                                <li><a class="dropdown-item"  href="{% url 'podcast' %}">Podcast Rooms</a></li>
                                <li><a class="dropdown-item"  href="{% url 'overdue' %}">Overdue</a></li>
                                <li><a class="dropdown-item"  href="{% url 'history' %}">History</a></li>
                            </ul>
                        </div>
{#                    <a class="nav-link tali" href="#">Pages</a>#}
{#                    <ul class="dropdown dropdown-menu">#}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link tali_green" href="">Contact</a>
                    </li>
                </ul>

                <div class="hero__search__phone mx-5">
                    <div class="hero__search__phone__icon">
                        <i class="fa fa-phone animate__tada animate__animated animate__infinite animate__slow"></i>
                    </div>
                    <div class="hero__search__phone__text mx-sm-4">
                        <h5>+972 1-800-207-777</h5>
                        <span>  Sun-Thur 10:00-13:00</span>
                    </div>
                </div>

            </div>


        </div>
    </nav>
</div>
