    <div class="container my-4">
        <div class="row" style="justify-content: center; margin-top: 20px">
            <div class="col-lg-9">
                <div class="">
                    <div class="hero__search__bar dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                            All Categories
                        </button>
                        <ul class="dropdown-menu">
                            {% for category in categories %}
                                <li><a class="dropdown-item" href="#">{{ category.name }}</a></li>
                            {% endfor%}
                        </ul>
                        <div style="color:lightgrey; display:inline; font-size: 25px; margin-right:10px">|</div>

                        <div class="search_bar">
                            <input type="text" placeholder="Search here?" class="search__input my-2">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <br>
    <br>
    <br>
    </div>

