<section class="hero hero-normal">
    <div class="container">
        <div class="row" style="justify-content: center; margin-top: 20px">
            <div class="col-lg-9">
                <div class="hero__search__categories__dropdown">
                    <div class="hero__search__bar">
                            <div class="hero__search__categories__dropdown__all">
                                All Categories
                                <span class="arrow_carrot-down" style="color:black"></span>
                            </div>
                            <div style="color:lightgrey; display:inline; font-size: 25px; margin-right:10px">|</div>
                            <ul>
                                <li><a href="#">Camera</a></li>
                                <li><a href="#">Tripod</a></li>
                                <li><a href="#">Green Screen</a></li>
                                <li><a href="#">Ipad</a></li>
                                <li><a href="#">Flash Lights</a></li>

                            </ul>
                        <div class="search_bar">
                            <input type="text" placeholder="Search here?" class="search__input">
                            <button type="submit" class="site-btn"  >SEARCH</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

