{% extends '../core/templates/base.html' %}

<title>{%block title%}Manager Page{%endblock%}</title>
    <div class="container">
        {% block content %}
        <div class="row">
            <div class="col-lg-3">
                <div class="hero__categories">
                    <div class="hero__categories__all">
                        <i class="fa fa-bars"></i>
                        <span>All departments</span>
                    </div>
                    <ul>
                        <li><a href="#">Dori</a></li>
                        <li><a href="#">Dani</a></li>
                        <li><a href="#">Leon</a></li>
                        <li><a href="#">Tali</a></li>
                        <li><a href="#">lalala</a></li>
                        <li><a href="#">kakaka</a></li>
                        <li><a href="#">fafafa</a></li>
                        <li><a href="#">xaxaxa</a></li>
                        <li><a href="#">mamama</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="hero__search">
                    <div class="hero__search__form">
                        <form action="#">
                            <div class="hero__search__categories">
                                All Categories
                                <span class="arrow_carrot-down"></span>
                            </div>
                            <input type="text" placeholder="What do yo u need?">
                            <button type="submit" class="site-btn">SEARCH</button>
                        </form>
                    </div>
                    <div class="hero__search__phone">
                        <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="hero__search__phone__text">
                            <h5>+972 1-800-207-777</h5>
                            <span>  Sun-Thur 10:00-13:00</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock content%}
        </div>
    </div>
