{% extends 'base.html' %}

<title>{%block title%}Podcast {%endblock%}</title>
<div class="container">
    {% block content %}
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID Product</th>
            <th scope="col">Type</th>
            <th scope="col">Select</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>1</td>
            <td>Room1</td>
            <td class="checkout__input__checkbox"><input type="checkbox" id="">
                                        <span class="checkmark"></span></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2</td>
            <td>Room2</td>
            <td class="checkout__input__checkbox"><input type="checkbox" id="">
                                        <span class="checkmark"></span></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>3</td>
            <td>Room3</td>
            <td class="checkout__input__checkbox"><input type="checkbox" id="">
                                        <span class="checkmark"></span></td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <button type="button" class="btn btn-outline-success">Book</button>
    <button type="button" class="btn btn-outline-info">Return</button>

    {% endblock %}
</div>
