{% extends 'base.html' %}

<title>{%block title%}Profile {%endblock%}</title>
        <div class="container">
            {% block content %}
            <div class="row">
                <div class="col-lg-12">
                    <h6><span class="icon_chat"></span> Have a problem? <a href="./contact">Click here</a> to contact us.</h6>
                </div>
            </div>
            <div class="checkout__form">
                <h4>Profile Details</h4>
                <form action="#">
                    <div class="row">
                        <div class="col-lg-8 col-md-6">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>ID<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>Fist Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="checkout__input">
                                        <p>Last Name<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="checkout__input">
                                <p>Address<span>*</span></p>
                                <input type="text" placeholder="Street Address" class="checkout__input__add">
                                <input type="text" placeholder="Apartment, suite, unite ect (optinal)">
                            </div>
                            <div class="checkout__input">
                                <p>City<span>*</span></p>
                                <input type="text">
                            </div>
                            <div class="row">
                                <div class="col-lg-5">
                                    <div class="checkout__input">
                                        <p>Phone<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="checkout__input">
                                        <p>Email<span>*</span></p>
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                            <p>▸ To be able to change some of the details connect SCE stuff members.</p>
                            <div class="checkout__input">
                                <button type="button" class="btn btn-outline-info">Save</button>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="checkout__order">
                                <h4>My Orders</h4>
                                <div class="checkout__order__products">Products <span>Total </span></div>
                                <ul>
                                    <li class="checkout__input__checkbox"><input type="checkbox" id="payment"> Camera VR
                                        </span><span>2</span></li>
                                    <li class="checkout__input__checkbox"><input type="checkbox" id="payment"> Green Screen <span>1</span></li>
                                    <li class="checkout__input__checkbox"><input type="checkbox" id="payment"> Ipad <span>1</span></li>
                                </ul>
                                <div class="checkout__order__subtotal">Subtotal <span>4</span></div>
                                <p>According to our policy each Product/Studio/Podcast Room has limited time following
                                    to your order/book. Every delay will be followed with an extra charge and continue
                                    to the care of SCE management.</p>
                                <button type="submit" class="site-btn">Return</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            {% endblock %}
        </div>
