<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="../../static/Home_Page/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/Home_Page/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/Home_Page/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="../../static/Home_Page/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="../../static/Home_Page/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/Home_Page/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/Home_Page/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="../../static/Home_Page/css/style.css" type="text/css">
</head>

<body>
<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header__top__left">
                        <ul>
                            <li>SCE</li>
                            <li>Sami Shamoon ~ Tali / Leon / Dori / Dani ~</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="header__top__right">
                        <div class="header__top__right__social">

                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                            <a href="#"><i class="fa fa-pinterest-p"></i></a>
                        </div>
                        <div class="header__top__right__language">
                            <img src="../../static/images/language.png" alt="">
                            <div>English</div>
                            <span class="arrow_carrot-down"></span>
                            <ul>
                                <li><a href="#">עברית</a></li>
                                <li><a href="#">English</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="header__logo">
                    <a href="#"><img src="../../static/images/SCE.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-6">
                <nav class="header__menu">
                    <ul>
                        <li><a href="HomeS">Home</a></li>
                        <li><a href="profile">Profile</a></li>
                        <li><a href="#">Pages</a>
                            <ul class="header__menu__dropdown">
                                <li><a href="./products">Products</a></li>
                                <li><a href="./studio">Studios</a></li>
                                <li><a href="./podcast">Podcast Rooms</a></li>
                                <li><a href="./malfunctions">Malfunctions</a></li>
                            </ul>
                        </li>
                        <li class="active"><a href="contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-lg-3">
                <div class="header__cart">
                    <ul>
                        <li><a href="#"><i class="fa fa-address-book"></i></a></li>
                        <li><a href="#"><i class="fa fa-address-card"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Contact Form Begin -->
<div class="contact-form spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="contact__form__title">
                    <h2>Report Malfunction</h2>
                </div>
            </div>
        </div>
        <form action="#">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Your name">
                </div>
                <div class="col-lg-6 col-md-6">
                    <input type="text" placeholder="Your Email">
                </div>
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Your message"></textarea>
                    <button type="submit" class="site-btn">SEND REPORT</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Footer Section Begin -->
<footer class="footer spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <ul>
                        <li>Address: Haim Nachman Bialik St 56, Be'er Sheva</li>
                        <li>Phone: 1-800-207-777</li>
                        <li>Email: SCE@SCE.co.il</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-1">
                <div class="footer__widget">
                    <h6>Useful Links</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Services</a></li>
                        <li><a href="#">Projects</a></li>
                    </ul>
                    <ul>
                        <li><a href="contact">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <div class="footer__widget">
                    <h6>Join Our Newsletter Now</h6>
                    <p>Get E-mail updates about our latest news.</p>
                    <form action="#">
                        <input type="text" placeholder="Enter your mail">
                        <button type="submit" class="site-btn">Subscribe</button>
                    </form>
                    <div class="footer__widget__social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-pinterest"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Js Plugins -->
        <script src="../../static/Home_Page/js/jquery-3.3.1.min.js"></script>
        <script src="../../static/Home_Page/js/bootstrap.min.js"></script>
        <script src="../../static/Home_Page/js/jquery.nice-select.min.js"></script>
        <script src="../../static/Home_Page/js/jquery-ui.min.js"></script>
        <script src="../../static/Home_Page/js/jquery.slicknav.js"></script>
        <script src="../../static/Home_Page/js/mixitup.min.js"></script>
        <script src="../../static/Home_Page/js/owl.carousel.min.js"></script>
        <script src="../../static/Home_Page/js/main.js"></script>
</body>
</html>