{% extends 'base.html' %}


{% block content %}
    <!-- Product Catalog-->

    <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-center">

            <!-- Camera -->
            {% for item in items %}
                {% if item.is_available %}
                    <div class="px-3 disabled">
                        {% include 'snippets/item.html' with item=item %}
                    </div>
                {% endif %}
            {% empty %}
                <h1> No items </h1>
            {% endfor %}

        </div>

    </div>
{% endblock %}
