{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <!--First image-->
            <div class="col-6 border mx-2">
                <img src="/{{ MEDIA_URL }}media/{{ item.image }}" alt="">
            </div>


            <! --details-->
            <div class="col">
                <h1>{{ item.brand }} {{ item.model }}</h1>
                <p>{{ item.details }} </p>
                <h3>ID: {{ item.serial_number }}</h3>

                <div class="input-group my-3" role="group" aria-label="Basic example">
                        <span class="input-group-text" id="addon-wrapping">From: </span>
                        <input type="date" class="btn btn-outline-primary">
                        <span class="input-group-text" id="addon-wrapping">To: </span>

                    <input type="date" class="btn btn-outline-primary">
                    <span class="input-group-text" id="addon-wrapping"></span>
                    <a href="" class="btn btn-success">Borrow</a>
                </div>


                <table class="table  border">
                    <thead>

                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Details</th>
                        <th scope="col">User</th>
                        <th scope="col">Opened</th>
                        <th scope="col">Closed</th>
                    </tr>
                    </thead>

                    <tbody class="">
                    {% for issue in issues %}
                        {% if issue.status.status == "GOOD" %}
                            <tr class="table-success">
                                <td><span class="badge text-bg-success">OK</span></td>

                                {% elif issue.status.status == "SEVERE" %}
                            <tr class="table-warning">
                                <td><span class="badge text-bg-warning">Severe</span></td>

                                {% elif issue.status.status == "BAD" %}
                            <tr class="table-danger">
                                <td><span class="badge text-bg-danger">Broken</span></td>
                                {% else %}
                            <tr>
                            <td><span class="badge text-bg-info">Unknown</span></td>
                        {% endif %}
                    <td>{{ issue.details }}</td>
                    <td class="fw-bold">{{ issue.student }}</td>
                    <td>{{ issue.date_opened }}</td>
                    <td>{{ issue.date_closed }}</td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="">No issues! 😁</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <span class="badge badge-success">Success</span>
                <span class="badge badge-danger">Danger</span>
            </div>

        </div>
    </div>

{% endblock %}




