{% extends 'base.html' %}

{% block content %}
    <div class="container my-5">
        <div class="row row-cols-sm-1 ">
            <!--First image-->
            <div class="col-lg-6 mx-2 mb-sm-5 text-center">
                <img class="animate__fadeIn animate__animated " src="/{{ MEDIA_URL }}media/{{ item.image }}" alt="">
            </div>


            <! --details-->
            <div class="col-lg my-sm-2">
                <h1 class="">{{ item.brand }} {{ item.model }}</h1>
                <p class="">{{ item.details }} </p>
                <h3 class="">ID: <span class="badge bg-secondary">{{ item.serial_number }}</span></h3>
                {% if  item.is_available %}
                    <h2 class="badge bg-success mt-3">Available</h2>
                    <form method="post"  id="reserve-form">
                        {% csrf_token %}
                        {{ form }}
                    </form>
                {% else %}
                    <h2 class="badge bg-danger  mt-3">Not Available </h2>
                    <div class="input-group my-3" role="group" aria-label="Basic example">
                        <label class="input-group-text " >Enter to queue: </label>
                    {#    <input type="hidden" name="item" value="{{ item.serial_number }}">#}
                        <button type="submit" class="btn btn-success">Queue</button>
                    </div>
                {% endif %}

{#            {% url 'reserve' student=123 item=item.serial_number date_from='2023-08-20' date_to='2023-08-21' %}#}

{#            <form method="post"  id="reserve-form">#}
{#                {% csrf_token %}#}
{#                {{ form }}#}
{#            </form>#}

                <table class="table border shadow ">
                    <thead>

                    <tr>
                        <th scope="col">Status</th>
                        <th scope="col">Details</th>
                        <th scope="col">User</th>
                        <th scope="col">Opened</th>
                        <th scope="col">Closed</th>
                    </tr>
                    </thead>

                    <tbody class="">
                    {% for issue in issues %}
                        {% if issue.status.status == "GOOD" %}
                            <tr class="table-success">
                                <td><span class="badge text-bg-success">OK</span></td>

                                {% elif issue.status.status == "SEVERE" %}
                            <tr class="table-warning">
                                <td><span class="badge text-bg-warning">Severe</span></td>

                                {% elif issue.status.status == "BAD" %}
                            <tr class="table-danger">
                                <td><span class="badge text-bg-danger">Broken</span></td>
                                {% else %}
                            <tr>
                            <td><span class="badge text-bg-info">Unknown</span></td>
                        {% endif %}
                    <td>{{ issue.details }}</td>
                    <td class="fw-bold">{{ issue.student }}</td>
                    <td>{{ issue.date_opened }}</td>
                    <td>{{ issue.date_closed }}</td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="">No issues! 😁</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}




