{% extends 'base.html' %}

{% block content %}
    <div class="contact-form spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="contact__form__title">
                        <h2>Open Issue for {{ item }}</h2>
                    </div>
                </div>
            </div>
            <form action="#">
                <div class="col-lg-12 text-center">
                    <textarea placeholder="Your message"></textarea>
                    <button type="submit" class="site-btn">Open Issue</button>
                </div>

            </form>
        </div>
    </div>
{% endblock %}
