{% extends 'base.html' %}

{% block content %}
        <div class="container">
            <h1> Privacy Policy for VCStorage</h1>
            <p> If you require any more information or have any questions about our privacy policy, please feel free to
                contact us by email at <a><b>info@sce.ac.il.</b></a></p>
            <p>At VCStorage we consider the privacy of our visitors to be extremely important. This privacy policy
                document describes in detail the types of personal information is collected and recorded by
                <a href="{% url 'main' %}">VCStorage</a> and how we use it. </p>
            <p><b>Eligibility for Borrowing</b>
                <li>Item Availability</li>
                Our website or mobile app will indicate the availability of items for borrowing.
                However, availability may vary based on demand and prior reservations.
                <li>Reservation</li>
                You may reserve an item in advance through our website or mobile app. Reservations are
                subject to item availability and are confirmed on a first-come, first-served basis.
                <li>Borrowing Period</li>
                Each item has a designated borrowing period, which will be communicated during the
                reservation process. It is your responsibility to return the item within the specified timeframe to
                avoid late fees or penalties.
                <li>Item Condition</li>
                Before borrowing an item, please carefully inspect it for any existing damage or issues.
                Report any concerns to our staff to ensure accurate documentation and prevent misunderstandings upon
                return.
            </p>

            <p><b>Eligibility for Returns</b><br/>
                <li>Defective or Damaged Items</li>
                If you receive a defective or damaged item, please notify us within
                2 days of receipt. We will arrange for the return and replacement of the item at no
                additional cost to you.<br>
                <li>Incorrect Item</li>
                If you receive an incorrect item that is different from what you ordered, please
                contact us within 2 days of receipt. We will work with you to resolve the issue promptly
                by arranging the return and sending you the correct item.
                <li>Return Deadline</li>
                The borrowed item must be returned by the agreed-upon date and time. Late returns may
                incur additional fees or penalties as specified in our terms and conditions.
                <li>Return Condition</li>
                You are responsible for returning the item in the same condition as when borrowed,
                except for normal wear and tear. Any damage or loss beyond normal wear and tear may result in repair or
                replacement charges.
                <li>Late Returns</li>
                If you anticipate a delay in returning the item, please inform us as soon as possible.
                Late returns without prior notification may affect your borrowing privileges and result in additional
                fees.
                <li>Late Fees</li>
                Late returns may be subject to late fees or penalties as specified in our terms and
                conditions. These fees are intended to encourage timely returns and ensure fairness for other members.
                <br>
                </ul>
            </p>
            <p><b>Log Files</b><br/> Like many other web-sites, VCStorage makes use of log files. These files
                merely logs visitors to the site – usually a standard procedure for hosting companies and a part of
                hosting services's analytics. The information inside the log files includes internet protocol (IP)
                addresses, browser type, Internet Service Provider (ISP), date/time stamp, referring/exit pages, and
                possibly the number of clicks. This information is used to analyze trends, administer the site, track
                user's movement around the site, and gather demographic information. IP addresses, and other such
                information are not linked to any information that is personally identifiable. </p>
            <p><b>Consent</b><br/>
                By using our website, you hereby consent to our privacy policy and agree to its terms.
            </p>
            <p><b>Update</b><br/>This Privacy Policy was last updated on: May 28th, 2023. Should we update, amend or
                make
                any changes to our privacy policy, those changes will be posted here.</p>
            <p>
        </div>
{% endblock %}