{% extends 'base.html' %}

{% block content %}
    <!-- Product Catalog-->
    <h2 class="text-center mb-5">Select a category</h2>
    <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-center">
            <!-- Camera -->
            {% for category in categories %}
                <div class="px-3">
                    {% include 'snippets/category.html' with image=category.image item=category.name item_description=category.description %}
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}

{#            <!-- Tripod -->#}
{#            <div class="col-md">#}
{#                <div class="card card-cascade card-ecommerce wider shadow mb-5">#}
{#                    <!--Card image-->#}
{#                    <div class="view view-cascade overlay text-center">#}
{#                        <img class="card-img-top img-thumbnail"#}
{#                             src="http://cdn.shopify.com/s/files/1/0614/7656/9320/products/KENVT102_01.jpg?v=1650360801"#}
{#                             alt="" class="img-thumbnail">#}
{#                        <a>#}
{#                            <div class="mask rgba-white-slight"></div>#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                    <!--Card Body-->#}
{#                    <div class="card-body card-body-cascade text-center">#}
{#                        <!--Card Title-->#}
{#                        <h4 class="card-title"><strong><a href="">Tripod</a></strong></h4>#}
{#                        <!-- Card Description-->#}
{#                        <p class="card-text">Our Tripod catalog.</p>#}
{#                        <!--Card button-->#}
{#                        <button onclick='location.href = "camera_catalog"' type="submit" class="btn btn-outline-info">#}
{#                            Proceed#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Ipad -->#}
{#            <div class="col-md">#}
{#                <div class="card card-cascade card-ecommerce wider shadow mb-5">#}
{#                    <!--Card image-->#}
{#                    <div class="view view-cascade overlay text-center">#}
{#                        <img class="card-img-top img-thumbnail"#}
{#                             src="https://ae01.alicdn.com/kf/H62cff41b7b8045c2b4d32f437cec75baq/Apple-iPad-2021-11-Wi-Fi-256-GB-mhqu3ru-mhqv3ru.jpg"#}
{#                             alt="" class="img-thumbnail">#}
{#                        <a>#}
{#                            <div class="mask rgba-white-slight"></div>#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                    <!--Card Body-->#}
{#                    <div class="card-body card-body-cascade text-center">#}
{#                        <!--Card Title-->#}
{#                        <h4 class="card-title"><strong><a href="">Ipad</a></strong></h4>#}
{#                        <!-- Card Description-->#}
{#                        <p class="card-text">Our Ipad catalog.</p>#}
{#                        <!--Card button-->#}
{#                        <button onclick='location.href = "camera_catalog"' type="submit" class="btn btn-outline-info">#}
{#                            Proceed#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <!-- Green Screen -->#}
{#            <div class="col-lg">#}
{#                <div class="card card-cascade card-ecommerce wider shadow mb-5">#}
{#                    <!--Card image-->#}
{#                    <div class="view view-cascade overlay text-center">#}
{#                        <img class="card-img-top img-thumbnail"#}
{#                             src="https://ccimg.canadacomputers.com/Products/1000x1000/231/1473/169732/96885.jpg"#}
{#                             alt="" class="img-thumbnail">#}
{#                        <a>#}
{#                            <div class="mask rgba-white-slight"></div>#}
{#                        </a>#}
{#                    </div>#}
{##}
{#                    <!--Card Body-->#}
{#                    <div class="card-body card-body-cascade text-center">#}
{#                        <!--Card Title-->#}
{#                        <h4 class="card-title"><strong><a href="">Green Screen</a></strong></h4>#}
{#                        <!-- Card Description-->#}
{#                        <p class="card-text">Our green screen catalog.</p>#}
{#                        <!--Card button-->#}
{#                        <button onclick='location.href = "camera_catalog"' type="submit" class="btn btn-outline-info">#}
{#                            Proceed#}
{#                        </button>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}


