{% extends 'base.html' %}

{% block content %}
    <!-- Product Catalog-->
    <h2 class="text-center mb-5">Select a category</h2>
    <div class="container-fluid">
        <div class="d-flex flex-wrap justify-content-center">
            <!-- Camera -->
            {% for category in categories %}
                <div class="px-3">
                    {% include 'snippets/category.html' with image=category.image item=category.name item_description=category.description %}
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}
